In [ ]:
celula

In [ ]:
# teste

Ã© o dog


print("hello friend")

In [1]:
print("hello friend")

hello friend

In [2]:
x = 2

In [3]:
y = 5

In [4]:
x + y

7

In [7]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [6, 7, 8]})
df

   A  B
0  1  6
1  2  7
2  3  8